.App {
  text-align: center;

}

body{
  overscroll-behavior: none!important;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


#wrapper_select{
  /*background-color:red!important;*/
  /*overflow-y: scroll;
  overflow-x: hidden;*/
  border-right: solid 3px rgba(59, 134, 255,0.8)!important;

}


.menuItem{
  margin:10px 5px 0px 5px!important;

}
#wrapper_result{
  /*background-color:blue!important;*/
  overflow-y: scroll;
  height: calc(100vh - 64px);
}
#selectors{
  height: auto;
  border:solid 1px rgba(59, 134, 255,0.5)!important;
  background-color:;
  border-radius:10px;
  margin-top:30px!important;
 /* background:green; */
}
#selection{
  height: auto;
  border:solid 1px rgba(59, 134, 255,0.5)!important;
  border-radius:10px;
 /* background:yellow;*/
  margin-bottom:15px!important;
}
.selectorItem{
  padding:10px;
}
.MuiListItem-gutters {
  padding-left: 15px!important;
}
.MuiContainer-root {
  margin-bottom: 0px;
  padding-left: 8px!important; 
  padding-right: 8px!important;
  border: 1px #d9d9d9 solid;
  border-radius:5px;
}
#plant_selector{
  background:rgba(0, 189, 113,0.05);
  border:8px solid rgba(0, 189, 113,0.5);
  border-radius:16px;
}
#onco_selector{
  background:rgba(101, 0, 173,0.05);
  border:8px solid rgba(101, 0, 173,0.4);
  border-radius:16px;
}
.wrapperSelectorItem{
  margin:0px 10px;
}
#selectors{

}
.css-tlfecz-indicatorContainer:first-child{
  display:none!important;
}
.css-tlfecz-indicatorContainer{
  display:none!important;
  
}
.css-tj5bde-Svg{
  display:none;
}
.css-tlfecz-indicatorContainer .svg{
  display:none!important;
  position:absolute;
  top:-200%;
}
.css-tj5bde-Svg{
  display:none;
  position:absolute;
  top:-1000px;
}
span.MuiTypography-body1{
  font-size:18px!important;

}
#blankSelection > span{
  font-size:13px!important;
  color:grey!important;
}
@media (min-width: 860px) {
  #wrapper_select{
    /*background-color:red!important;*/
    overflow-y: scroll;
    height: calc(100vh - 64px);
  }
}
@media (max-width: 859px) {
  #wrapper_select{
    /*background-color:red!important;*/
    height: auto!important;
  }
  .MuiExpansionPanelSummary-content{

  }
  #CT_title{
    width: 100%!important;
  }
}



#wrapper_result>div{
  margin:10px;
}

.plantContainer{
margin-top:4px;
}
.plantContainer>h3{
  margin:0px;
}
.plantContainer>p{
  margin:0px;
}
.wrapperResult{
  /*padding:2px 60px 2px 60px;*/
  margin-top:25px!important;
}
.wrapperResult>h3{
  margin:0px;
}

/* NAVBAR
*/

.MuiAppBar-colorPrimary{
  background-color:rgba(59, 134, 255,0.8)!important;
  color:white!important;

}
.MuiTypography-h6{
  font-size:1.7em!important;
  font-family: 'Comfortaa'!important;
  color:white!important;
}


.HeaderCard{
  background-color:rgba(59, 134, 255,0.8)!important;
  color:white!important;
  font-weight: bold!important;
  padding:10px!important;
}
.MuiCardHeader-title{
  font-weight: bold!important;
  color:white!important;
}
.MuiTypography-root{
  font-family: 'Comfortaa'!important;
  color:#404040;
}

.plantContainer{
  border:solid 5px red;
  border-radius: 10px;
  margin: 15px 30px 5px 30px;
}
.wrapperResultNoSelection>div>div>span{
  font-size:16px!important;

}
#CT_title{
  font-size:16px!important;
  width: 90%!important;
}
.MuiExpansionPanelDetails-root{
  display:block!important;
  padding: 8px 10px 24px;
}
.CT_avatar_sub{
  width: 30px!important;
    height: 30px!important;
    color:black!important;
}